#{extends 'main.html' /}
#{set title: 'Rechercher un livre' /}

<h1>Rechercher un livre</h1>

#{form @LivreAction.rechercher()}

   <table>
        #{field 'livre.id'}
        <input type="hidden" name="${field.name}" value="${field.value}" />
        #{/field}
        #{field 'livre.titre'}
        <tr>
            <td><label for="${field.id}">Titre du livre:</label></td>
            <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" /></td>
        </tr>
        #{/field}
        #{field 'livre.collection'}
        <tr>
            <td><label for="${field.id}">Collection du livre:</label></td>
            <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" /></td>
        </tr>
        #{/field}
        #{field 'livre.etage'}
        <tr>
            <td><label for="${field.id}">Etage:</label></td>
            <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" /></td>
        </tr>
        #{/field}
        #{field 'livre.auteur.libelle'}
        <tr>
            <td><label for="${field.id}">Auteur du livre:</label></td>
            <td><input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" /></td>
        </tr>
        #{/field}
    </table>
    
    <input type="submit" value="Rechercher" />

#{/form}