 
<nav id="menu1">
    <div class="elementMenu1">
        <h3>&{'fr.menu1.titre.livres'}</h3>
        <ul>
            <li><a href="@{LivreAction.rechercher}">&{'fr.menu1.action.rechercher'}</a></li>
            <li><a href="@{LivreAction.ajouter}">&{'fr.menu1.action.ajouter'}</a></li>
        </ul>
    </div>
    <div class="elementMenu1">
        <h3>&{'fr.menu1.titre.auteurs'}</h3>
        <ul>
            <li><a href="@{AuteurAction.rechercher}">&{'fr.menu1.action.rechercher'}</a></li>
            <li><a href="@{AuteurAction.ajouter}">&{'fr.menu1.action.ajouter'}</a></li>
        </ul>
    </div>
    <div class="elementMenu1">
        <h3>&{'fr.menu1.titre.emprunts'}</h3>
        <ul>
            <li><a href="">&{'fr.menu1.action.rechercher'}</a></li>
            <li><a href="">&{'fr.menu1.action.ajouter'}</a></li>
        </ul>
    </div>
</nav>  
